<sb-layout-dashboard>
    <sb-dashboard-head title="Alsintan" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <button type="button" class="btn btn-primary" (click)="open()">Tambah alsintan baru</button>
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Daftar alsintan
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Cakupan (ha)</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.capacity }}</td>
                    <td>{{ item.status }}</td>
                    <td><button type="button" class="btn btn-link" (click)="detail( item )">Edit</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </sb-card>
</sb-layout-dashboard>