<sb-layout-dashboard>
    <sb-dashboard-head title="Input Alsintan" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <button type="button" class="btn btn-primary" (click)="open()">Tambah data baru</button>
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Daftar data alsintan
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">No Reg</th>
                    <th scope="col">Lokasi</th>
                    <th scope="col">Jenis Alat</th>
                    <th scope="col">Tahun</th>
                    <th scope="col">Asal Perolehan</th>
                    <th scope="col">Nama Pemilik</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>{{ item.reg_no }}</td>
                    <td>{{ item.province }}-{{ item.city }}
                      <br>{{ item.district }}-{{ item.sub_district }}
                      <br>{{ item.loc_addr_detail}}
                    </td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.year }}</td>
                    <td>{{ item.funding }}</td>
                    <td>{{ item.owner }}</td>
                    <td>{{ item.status }}</td>
                    <td><button type="button" class="btn btn-link" (click)="detail( item )">Edit</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </sb-card>
</sb-layout-dashboard>